extends commonLayout

block content
  form(id='sendfileform', method='post',enctype='multipart/form-data')
    input(type='file',name='file',id='file', max-size=999999)
    input(type='submit', name='mysubmit',value='Add Photo', id='submit')
  br
  div(id="photos_list_container")
    - var index = 0;
    - while(index < photolist.length )
      div(class="ui-grid-b my-breakpoint")
        - for (var i=0; i < 3 && index < photolist.length; i++, index++)
          -var photo = photolist[index]
          if i === 0
            div(class="ui-block-a photo_container")
              img(src="/thumbnails/#{photo.thumb_name}", id="#{photo._id}")
              a(class='deletebtn', data-role="button", data-icon='delete') Delete
          else if i === 1
            div(class="ui-block-b photo_container")
              img(src="/thumbnails/#{photo.thumb_name}", id="#{photo._id}")
              a(class='deletebtn', data-role="button", data-icon='delete') Delete
          else if i === 2
            div(class="ui-block-c photo_container")
              img(src="/thumbnails/#{photo.thumb_name}", id="#{photo._id}")
              a(class='deletebtn', data-role="button", data-icon='delete') Delete

  br
  footer(data-role='footer', data-position='fixed')
    div(data-role='navbar')
      ul 
        li
          a(id='photosNav',href='/', data-icon='home') Home 
        li
          a(id='photosNav',href='/photos', data-icon='camera',  class="ui-btn-active") Photos
        li
          a(id='slideshowNav',href='/slideshows', data-icon='grid') Slideshows
         li
          a(id='configureNav',href='/settings', data-icon='gear') Settings
